body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header {
    color: #505050;
    text-align: center;
}

hr {
    width: 25%;
}

h3 {
    color: #ff9680;
}

p {
    color: #303030;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 370px;
    text-align: justify;
}

ul.choices {
    color: #303030;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 35px;
}